doctype html
html(lang="ja")
    head
        //　（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）
        //　（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）
        //  （・８・）　うぇるかむ　とぅ　ようこそ　ことりぱーーーーーーーーーーーーーーーく！  （・８・）
        //　（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）
        //　（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）（・８・）

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        style(type="text/css").
            body {
                margin: 0;
            }
    body
        div#content
